<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <!--
      Set these values as desired and the app will default to them when it is started.
    -->
    
    <!--HTML format options: Valid values are "true" or "false".  -->
        <add key="Color" value="true" />
        <add key="BackColor" value="false" />
        <add key="FontName " value="false" />
        <add key="FontBold" value="false" />

    <!--Root Node Options:-->
        <!--  Valid values are "true" or "false". -->
        <add key="EncloseHtmlInRootNode" value="true" />
    
        <!--  String values. 
              Note the encoding of quotes in XML via &quot;
              https://stackoverflow.com/questions/3979297/how-to-use-double-quotes-in-app-config
        -->
        <add key="RootNodeName" value="pre" />
        <!--add key="NodeAttributes" value="class=&quot;tsqlcode&quot;" /-->
        <add key="NodeAttributes" value="class=&quot;tsqlcode&quot; style=&quot;font-size: small; color: black; font-family: Consolas, &quot;Courier New&quot;, Courier, Monospace;&quot;" />
  </appSettings>
</configuration>