<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--
      Set these values as desired and the app will default to them when it is started.
    -->
    <!--HTML format options: Valid values are "true" or "false".  -->
    <add key="Color" value="true" />
    <add key="BackColor" value="false" />
    <add key="FontName " value="false" />
    <add key="FontBold" value="false" />
    <!--Root Node Options:-->
    <!--  Valid values are "true" or "false". -->
    <add key="EncloseHtmlInRootNode" value="true" />
    <!--  String values. 
              Note the encoding of quotes in XML via &quot;
              https://stackoverflow.com/questions/3979297/how-to-use-double-quotes-in-app-config
        -->
    <add key="RootNodeName" value="pre" />
    <!--add key="NodeAttributes" value="class=&quot;tsqlcode&quot;" /-->
    <add key="NodeAttributes" value="class=&quot;tsqlcode&quot; style=&quot;font-size: small; color: black; font-family: Consolas, &quot;Courier New&quot;, Courier, Monospace;&quot;" />
    <!--Line Numbers:-->
    <!--  Valid values are "true" or "false". -->
    <add key="AddLineNumbers" value="true" />
    <add key="LineNumbersHighlightable" value="false" />
    <!--  String values.  -->
    <add key="HtmlColor" value="#000000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>